<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="f2e83fec-946d-4806-90fe-402373713a7e"
    Publisher="CN=Me"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="f2e83fec-946d-4806-90fe-402373713a7e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>TestHarnessApp</DisplayName>
    <PublisherDisplayName>Me</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TestHarnessApp.App">
      <uap:VisualElements
        DisplayName="TestHarnessApp"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="TestHarnessApp"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

    <Extensions>
        <Extension Category="windows.publisherCacheFolders">
            <PublisherCacheFolders>
                <Folder Name="bxm_shared_state"/>
            </PublisherCacheFolders>
        </Extension>
    </Extensions>
</Package>